fastapi
uvicorn
python-dotenv

langchain
langchain-community
langchain-openai
langchain-text-splitters

pydantic
pydantic-settings
sqlalchemy
alembic
psycopg2-binary

pymilvus

python-multipart
pypdf
python-docx
httpx

openai
